{% comment %}
  Renders a header drawer menu for mobile and desktop.
  - blocks:

  Usage:
  {% render 'header-drawer', blocks: blocks %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce{% if shop.customer_accounts_enabled and customer %} change-text-login{% endif %}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <form action="{{ routes.search_url }}" method="get" role="search" class=" search-modal__drawer-form">
              <input class="search__input-drawer-form"
                id="search__input-drawer"
                type="text"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="Buscar"
              >
              <input type="hidden" name="options[prefix]" value="last">
            </form>
            <ul class="menu-drawer__navigation-level-1 list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  <span
                    class="list-menu__drawer-item {% if forloop.index == 1%} active{% endif %}"
                    >
                    {{ link.title | escape }}
                  </span>
                </li>
              {%- endfor -%}
            </ul>
            {%- for link in section.settings.menu.links -%}
              {% assign counter = forloop.index %}
              <div class="menu-drawer__navigation-level-2 {% if forloop.index == 1%} active{% endif %}">
                <ul class="list-menu" role="list" tabindex="-1">
                  <li class="view-all">
                    <a
                      href="{{ link.url }}"
                      class="list-menu__drawer-item"
                    >
                      {{ 'sections.header.view_all' | t }} {{ link.title | downcase | escape }}
                    </a>   
                  </li>
                  {%- for childlink in link.links -%}
                    <li>
                      {%- if childlink.links != blank -%}
                        <span
                          class="list-menu__drawer-item has-sub-menu"
                        >
                          <a
                            href="{{ childlink.url }}"
                            class="list-menu__drawer-item-link"
                          >
                            {{ childlink.title | escape }}
                          </a>
                          {% render 'icon-vector-dropdown' %}
                        </span>
                      {%- else -%}
                        <a
                          href="{{ childlink.url }}"
                          class="list-menu__drawer-item"
                        >
                          {{ childlink.title | escape }}
                        </a>
                      {%- endif -%}
                      <div
                        class="menu-drawer__navigation-level-3"
                      >
                        <ul
                          class="list-menu"
                          role="list"
                          tabindex="-1"
                        >
                          {%- for grandchildlink in childlink.links -%}
                            {% assign grandchildTitle = grandchildlink.title | downcase | escape %}
                            {%- if grandchildTitle contains 'view-all' -%}
                            {%- else -%}
                              <li>
                                <a
                                  href="{{ grandchildlink.url }}"
                                  class="menu-drawer__menu-item-level-3 list-menu__drawer-item"
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endif -%}
                          {%- endfor -%}
                        </ul>
                      </div>
                    </li>
                  {%- endfor -%}
                </ul>
                {% for block in blocks %}
                  {% if counter == block.settings.featured_image_position and block.type == 'mega_menu_image' %}
                    {% assign position_text = "" %}
                    {% case block.settings.featured_image_text_position %}
                    {% when "top_right" %}
                      {% assign position_text = "top: 12px; right: 12px" %}
                    {% when "bottom_left" %}
                      {% assign position_text = "bottom: 12px; left: 12px" %}
                    {% when "bottom_right" %}
                      {% assign position_text = "bottom: 12px; right: 12px" %}
                    {% else %}
                      {% assign position_text = "top: 12px; left: 12px" %}
                    {% endcase %}
                    {% if block.settings.featured_image_link != blank %}
                      <a href="{{ block.settings.featured_image_link }}" class="mega-menu_image link">
                    {% endif %}
                      <div class="mobile-image-container">
                        <div class="mobile-image-container__content">
                          {% if block.settings.featured_image != blank %}
                          {{ block.settings.featured_image | image_url: width: 500, height: 280 | image_tag: loading: 'lazy', alt: block.settings.featured_image_text, class: 'mobile-image-container__image'}}
                          {% else %}
                          {{ 'image' | placeholder_svg_tag: 'mobile-image-container__placehoder' }}
                          {% endif %}
                          {% if block.settings.featured_image_text != blank %}
                          <div
                          class="mobile-image-container__text"
                          style="{{ position_text }}; color: {{ block.settings.featured_image_text_color }}"
                          >{{ block.settings.featured_image_text }}</div>
                        </div>
                      </div>
                    {% endif %}
                    {% if block.settings.featured_image_link != blank %}
                      </a>
                    {% endif %}
                  {% endif %}
                {%- endfor -%}
              </div>
            {%- endfor -%}
          </nav>
          <div class="menu-drawer__utility-links">
            {% for block in blocks %}
              {% if block.type == 'mobile_menu' %}
                {%- for link in block.settings.mobile_menu_bottom.links -%}
                  <a
                    href="{%- if link.url != blank -%}{{ link.url }}{%- else -%}#{%- endif -%}"
                    class="list-menu__drawer-item"
                  >
                    {{- link.title | escape -}}
                  </a>
                {%- endfor -%}
              {% endif %}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
