{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
    {%- liquid
        assign ratio = 1

        if card_product.featured_media and media_aspect_ratio == 'portrait'
            assign ratio = 0.665
        elsif card_product.featured_media and media_aspect_ratio == 'adapt'
            assign ratio = card_product.featured_media.aspect_ratio
        endif

        assign card_product_name = card_product.title
        assign card_product_gender = card_product.metafields.rocket.gender
        assign card_product_model = card_product.metafields.rocket.model
        assign card_product_color = card_product.metafields.rocket.color
        assign card_product_price = card_product.price
        assign show_quick_add = true
    -%}
    <div class="gigi-product-card__wrapper gigi-card__wrapper">
        <div class="gigi-product-card__media">
            <div class="gigi-product-card__meta">
                <div class="gigi-product-card__tags">
                    <div class="card__badge">
                        {% liquid
                            assign date_created = card_product.published_at | date: '%s'
                            assign date_now = 'now' | date: '%s'
                            assign difference = date_now | minus: date_created
                        %}
                        {% if difference < 864000 or card_product.tags contains 'NEW' %}
                            <span id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                                  class="card__badge-text">
                                {{- 'products.product.new' | t -}}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="gigi-product-card__favorite">
                    <div class="favorite add-to-wishlist">{% render 'icon-favorite' %}</div>
                    <div class="favorite remove-from-wishlist hidden">{% render 'icon-favorite' %}</div>
                </div>
            </div>
            {% if card_product.has_only_default_variant %}
                <div class="gigi-product-card__media-wrapper">
                    {% if card_product.featured_media %}
                        {{ card_product.featured_media
                        | image_url: width: card_product.featured_media.width
                        | image_tag:
                        loading: 'lazy',
                        alt: card_product.title,
                        width: card_product.featured_media.width,
                        height: card_product.featured_media.height,
                        class: 'gigi-product-card__image'
                        }}
                    {% endif %}
                </div>
            {% else %}
                <div class="gigi-product-card__media-wrapper">
                    {% render 'rocket-gigi-variants-swiper', card_product: card_product %}
                </div>
            {% endif %}
        </div>
        <div class="gigi-product-card__content">
            <div class="gigi-product-card__information">
                <div class="card__information">
                    <div class="card__information__title">
                        <a href="{{ card_product.url }}"
                           id="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }}"
                           class="full-unstyled-link"
                           aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}">
                            {{ card_product_name | escape }}
                        </a>
                    </div>
                    {%- unless card_product_price == 0 and card_product.type != "OPTICA" -%}
                        {% render 'price', product: card_product, price_class: '' %}
                    {% else %}
                        <div class="gigi-product-card__note">{{ 'Disponible en ópticas' }}</div>
                    {%- endunless -%}
                </div>
                <div class="card__action {% if card_product.type == "OPTICA" %} hidden {% endif %}">
                    {%- if show_quick_add -%}
                        {% render 'rocket-gigi-variant-picker', card_product: card_product %}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
{%- else -%}
    <div class="card-wrapper product-card-wrapper underline-links-hover">
        <div class="card card--{{ settings.card_style }} card--text
        {% if extend_height %} card--extend-height{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if card_product.featured_media == blank and settings.card_style == 'card' %} ratio {% endif %}
        {{ horizontal_class }} " style="--ratio-percent: 100%;">
            <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}"
                 style="--ratio-percent: 100%;">
                <div class="card__media">
                    {%- if placeholder_image -%}
                        {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- else -%}
                        {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    {%- endif -%}
                </div>
            </div>
            <div class="card__content">
                <div class="card__information">
                    <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
                        <a role="link" aria-disabled="true" class="full-unstyled-link">
                            {{ 'onboarding.product_title' | t }}
                        </a>
                    </h3>
                    <div class="card-information">
                        {%- if show_vendor -%}
                            <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                            <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
                        {%- endif -%}
                        {%- unless card_product_price == 0 -%}
                            {% render 'price' %}
                        {%- endunless -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endif -%}
<script src="{{ "product-card.js" | asset_url }}" defer="defer"></script>