{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  - size_guide: {Boolean}
  -custom_size: {Object Page}
  Usage:
  {% render 'rocket-size-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

{%- if custom_size != blank -%}
  <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal rocket-modal" {{ block.shopify_attributes }}>
    <div
      role="dialog"
      aria-label="{{ block.settings.text }}"
      aria-modal="true"
      class="product-popup-modal__content"
      tabindex="-1"
    >
      <button
        id="ModalClose-{{ block.id }}"
        type="button"
        class="product-popup-modal__toggle"
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {% render 'icon-close' %}
      </button>
      <div class="product-popup-modal__content-info">
        <h3 class="title-h2">{{ custom_size.value.title }}</h3>
        <p class="body-md">
          {{ custom_size.value.content }}
        </p>
      </div>
    </div>
  </modal-dialog>
{%- endif -%}

{%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    <div id="size-picker">
      <variant-radios
        id="variant-radios-{{ section.id }} "
        class="no-js-hidden size-variant-picker"
        data-section="{{ section.id }}"
        data-url="{{ product.url }}"
        {% if update_url == false %}
          data-update-url="false"
        {% endif %}
        {{ block.shopify_attributes }}
      >
        {%- for option in product.options_with_values -%}
          {%- if option.position == 1 -%}
            <fieldset class="js product-form__input">
              <legend class="form__label">{{ option.name }}</legend>
              {% render 'product-variant-options', product: product, option: option, block: block %}
            </fieldset>
          {%- endif -%}
        {%- endfor -%}
        <script type="application/json">
          {{ product.variants | json }}
        </script>
        {%- if size_guide and custom_size == blank -%}
          <div class="rocket-size-variant-picker__sizeguide">
            {% render 'icon-sizeguide' %}
            <span class="rocket-size-variant-picker__sizeguide__text">
              {{- 'products.product.sizeguide' | t -}}
            </span>
          </div>
        {%- elsif size_guide -%}
          <modal-opener
            class="product-popup-modal__opener no-js-hidden quick-add-hidden"
            data-modal="#PopupModal-{{ block.id }}"
            {{ block.shopify_attributes }}
          >
            <button
              id="ProductPopup-{{ block.id }}"
              class="product-popup-modal__button link rocket-popup-link"
              type="button"
              aria-haspopup="dialog"
            >
              <div class="rocket-size-variant-picker__sizeguide">
                {% render 'icon-sizeguide' %}
                <span class="rocket-size-variant-picker__sizeguide__text">
                  {{- 'products.product.sizeguide' | t -}}
                </span>
              </div>
            </button>
          </modal-opener>
          <a href="{{ custom_size.value.url }}" class="product-popup-modal__button link no-js">
            {{- block.settings.text -}}
          </a>
        {%- endif -%}
      </variant-radios>
    </div>
  {% elsif block.settings.picker_type == 'dropdown' %}
    <variant-selects
      id="variant-selects-{{ section.id }}"
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options', product: product, option: option, block: block %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- elsif block.settings.picker_type == 'cards' -%}
    <variant-radios
      id="variant-radios-{{ section.id }} "
      class="no-js-hidden"
      data-section="{{ section.id }}"
      data-url="{{ product.url }}"
      {% if update_url == false %}
        data-update-url="false"
      {% endif %}
      {{ block.shopify_attributes }}
    >
      {%- for option in product.options_with_values -%}
        <fieldset class="js product-form__input">
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options', product: product, option: option, block: block %}
        </fieldset>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- endif -%}
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>
